openvino-dev>=2024.2.0
openvino==2024.2.0
git+https://github.com/huggingface/optimum-intel.git
git+https://github.com/openvinotoolkit/nncf.git
torch
torchvision
numpy==1.23.5
transformers
tokenizers
diffusers
pillow
tiktoken
