--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
optimum==1.25
optimum-intel==1.23
openvino==2025.1
openvino-genai==2025.1
openvino-tokenizers==2025.1
modelscope
nncf==2.16
transformers==4.47.1
tokenizers==0.21.0
numpy==1.26
